.list_bg {
	background-image: url(../img/list.png);
}

.myPhoto_bg {
	background-image: url(../img/myPhoto.jpg);
}

.old_bg {
	background-image: url(../img/old.png);
}

.loc_bg {
	background-image: url(../img/loc.png);
}

.phone_bg {
	background-image: url(../img/phone.png);
}

.email_bg {
	background-image: url(../img/email.png);
}

.skill_bg {
	background-image: url(../img/skill.png);
}

.love_bg {
	background-image: url(../img/love.png);
}

.keep_bg {
	background-image: url(../img/keep.png);
}

.game_bg {
	background-image: url(../img/game.png);
}

.song_bg {
	background-image: url(../img/song.png);
}

.headBg_m_bg {
	background-image: url(../img/headBg_m.png);
}

.headNameBg_m_bg {
	background-image: url(../img/headNameBg_m.png);
}