<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<script src="common/common_css.js"></script>
	</head>
	<body>
		<div class="bodyWrap">
			<header class="header headerbg-bg ui-ico">
				<div class="ui-contain">
					<div class="header-logoImg">
						<span class="logoImg-bg ui-ico"></span>
						<h1 class="header-title">阅微草堂</h1>
						<p class="header-text">事虽微，不为不成；道虽近，不行不至  </p>
					</div>
					<div class="header-op">
						<div class="header-add">
							<span class="header-add-ico header-add-bg ui-ico"></span>
							<span class="header-add-text">加好友</span>
						</div>
						<div class="header-tab">
							<ul class="clearfix">
								<li>
									<p>13</p>
									<p>笔记</p>
								</li>
								<li>
									<p>66</p>
									<p>阅读</p>
								</li>
								<li>
									<p>666</p>
									<p>留言</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="ui-nav">
					<div class="ui-contain">
						<ul class="clearfix">
							<li>
								<span>个人主页</span>
							</li>
							<li class="active">
								<span>首页</span>
							</li>
							<li>
								<span>我的简历</span>
							</li>
							<li>
								<span>留言</span>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<div class="main">
				<div class="ui-contain clearfix">
					<div class="main-left">
						
						<p class="ui-main-title">文章分类</p>
						<ul class="ui-menu">
							<li><span class="text">web前端开发</span><span class="num">(666)</span></li>
							<li><span class="text">服务器端开发</span><span class="num">(666)</span></li>
							<li><span class="text">android开发实践</span><span class="num">(666)</span></li>
						</ul>
						<p class="ui-main-title">文章存档</p>
						<ul class="ui-menu">
							<li><span class="text">2017年08月</span><span class="num">(666)</span></li>
							<li><span class="text">2016年11月</span><span class="num">(666)</span></li>
							<li><span class="text">2016年10月</span><span class="num">(666)</span></li>
							<li><span class="text">2016年07月</span><span class="num">(666)</span></li>
						</ul>
						<p class="ui-main-title">阅读排行</p>
						<ul class="ui-menu">
							<li><span class="text">如何去设计一个自适应的网页设计或HTMl5</span><span class="num">(666)</span></li>
							<li><span class="text">option元素 display属性在IE下无效的解决方法</span><span class="num">(666)</span></li>
							<li><span class="text">jquery-ui datepicker 日期控件 日期区间选择</span><span class="num">(666)</span></li>
							<li><span class="text">jquery validate使用class属性进行字段验证</span><span class="num">(666)</span></li>
						</ul>
					</div>
					<div class="main-right">
						<p class="ui-main-title">笔记</p>
						<ul class="main-list">
							<li>
								<h4 class="title">ios下jquery document.on() 无效 ，设置 cursor: pointer;</h4>
								<p class="text">ios下jquery document.on() 无效 ，设置 cursor: pointer;...</p>
								<div class="clearfix">
									<p class="pull-right read">
										<span>2017-08-08 17:40</span>
										<span>阅读(666)</span>
										<span>评论(66)</span>
										<span class="red">赞(666)</span>
									</p>
								</div>
							</li>
							<li>
								<h4 class="title">ios下jquery document.on() 无效 ，设置 cursor: pointer;</h4>
								<p class="text">ios下jquery document.on() 无效 ，设置 cursor: pointer;...</p>
								<div class="clearfix">
									<p class="pull-right read">
										<span>2017-08-08 17:40</span>
										<span>阅读(666)</span>
										<span>评论(66)</span>
										<span class="red">赞(666)</span>
									</p>
								</div>
							</li>
							<li>
								<h4 class="title">ios下jquery document.on() 无效 ，设置 cursor: pointer;</h4>
								<p class="text">ios下jquery document.on() 无效 ，设置 cursor: pointer;...</p>
								<div class="clearfix">
									<p class="pull-right read">
										<span>2017-08-08 17:40</span>
										<span>阅读(666)</span>
										<span>评论(66)</span>
										<span class="red">赞(666)</span>
									</p>
								</div>
							</li>
							<li>
								<h4 class="title">ios下jquery document.on() 无效 ，设置 cursor: pointer;</h4>
								<p class="text">ios下jquery document.on() 无效 ，设置 cursor: pointer;...</p>
								<div class="clearfix">
									<p class="pull-right read">
										<span>2017-08-08 17:40</span>
										<span>阅读(666)</span>
										<span>评论(66)</span>
										<span class="red">赞(666)</span>
									</p>
								</div>
							</li>
							<li>
								<h4 class="title">ios下jquery document.on() 无效 ，设置 cursor: pointer;</h4>
								<p class="text">ios下jquery document.on() 无效 ，设置 cursor: pointer;...</p>
								<div class="clearfix">
									<p class="pull-right read">
										<span>2017-08-08 17:40</span>
										<span>阅读(666)</span>
										<span>评论(66)</span>
										<span class="red">赞(666)</span>
									</p>
								</div>
							</li>
							
						</ul>
						<div class="ui-pager">
							
							<ul class="ui-pager-num">
								<li>
									<span>当前</span>
									<span class="red">1/1</span>
									<span>页</span>
								</li>
								<li>
									<span>首页</span>
								</li>
								<li>
									<span>上一页</span>
								</li>
								<li>
									<span>下一页</span>
								</li>
								<li>
									<span>尾页</span>
								</li>
								<li>
									<span>共</span>
									<span class="red">8</span>
									<span>条记录</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				
			</footer>
		</div>
		<script src="common/common_js.js"></script>
	</body>
</html>
